# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env

# Pytest
.pytest_cache/

# IDEs
.idea/
.vscode/

# Project specifics
data/uploads/
data/reports/
data/reports/*.csv
data/reports/*.json


